---
profile::base::sudoer_username: "${sudoer_username}"


profile::freeipa::guest_accounts::guest_passwd: "${guest_passwd}"
profile::freeipa::guest_accounts::nb_accounts: ${nb_users}

profile::nfs::server::home_devices: ${home_dev}
profile::nfs::server::project_devices: ${project_dev}
profile::nfs::server::scratch_devices: ${scratch_dev}

profile::reverse_proxy::domain_name: "${domain_name}"

